/* =RESET */
/* ----------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Structure
---------------------------------------- */
html {
	min-width:813px;
	font-size: 100%;
}

body {
	font-family: Arial, "times new roman", serif;
	/* font-family: arial, helvetica, sans-serif; */
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	background: #437201 url(../images/page-bg.jpg) repeat;
	border-top: 5px solid #264602;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Image
---------------------------------------- */
img {
	border: 0;
}

/* Hypertext
---------------------------------------- */
a{
	color: #6d9110;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}
a:link {
	color: #6d9110;
	text-decoration: none;
}

a:visited {
	color: #437201;
}

a:hover {
	color: #437201;
	text-decoration: underline;
}

a:active {
	color: #437201;
}


/* Text
---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: Bauhaus93Regular, Verdana, Geneva, sans-serif;
}

h1 {
	font-size: 1.4;
	line-height: 1.1em;
	margin-bottom: .238em;
}

h2 {
	font-size: 1.3em;
	line-height: 1.15;
	margin-bottom: .357em;
}

h3 {
	font-size: 1.2em;
	line-height: 1.2;
	margin-bottom: .476em;
}

h4, h5, h6 {
	font-size: 1em;
	margin-bottom: .715em;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

blockquote, q, cite {
	font-style: italic;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
	content: "";
}

code, kbd, pre, samp, tt {
	font-family: menlo, monaco, consolas, "lucida console", "courier new", courier, monospace;
	line-height: 1.3;
}
/* Estilos generales
---------------------------------------- */
hr{
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #ececec;
	border-left: 0px none transparent;
	border-right: 0px none transparent;
	height:2px;	
}
.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.hidden{display:none;}